<div class="feature">
    <h2 class="feature-title">Ship with confidence</h2>
    <p class="feature-description">
        Verified commit-by-commit against Google's colossal monorepo
    </p>
</div>

<!-- 
    <div class="feature">
        <h2 class="feature-title">Power your development</h2>
        <p class="feature-description">
            Keep your codebase organized with an opinionated component model and flexible dependency injection
            system
        </p>
    </div>
    <div class="feature">
        <h2 class="feature-title">Ship with confidence</h2>
        <p class="feature-description">
            Verified commit-by-commit against Google's colossal monorepo
        </p>
    </div>
    <div class="feature">
        <h2 class="feature-title">Develop aplications faster</h2>
        <p class="feature-description">
            Effortlessly build, serve, test, deploy with Angular CLI
        </p>
    </div> 
-->
