/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
}
main {
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
}

h1 {
    margin: 14px 0px;
    font-size: 4rem;
}

.highlight {
    background-color: beige;
    font-weight: 700;
    padding: 2px;
}

.main {
    text-align: center;
    padding: 12px;
    margin-top: 12px;
    font-size: 18px;
}

.about,
.features {
    text-align: left;
}

.action {
    text-align: center;
}

.action-button {
    padding: 12px;
    border: none;
    font-size: 1.1rem;
    outline: 1px solid black;
    border-radius: 8px;
    width: 192px;
}

.features {
    padding: 12px;
}

.feature {
    margin-bottom: 20px;
}

.feature-title {
    text-transform: uppercase;
    margin-bottom: 3px;
}

.feature-description {
    margin-left: 24px;
}